* {
  -fx-font-family: "Arial Black";
  -fx-text-fill: darkgrey;
}

.title-btn {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-font-size: 46px;
}

.title-btn:hover {
  -fx-font-size: 42px;
  -fx-text-fill: blue;
}

.title-btn:hover ImageView {
  -fx-opacity: 60%;
}

.little-btn {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-border: none;
  -fx-font-size: 27px;
}

.little-btn:hover {
  -fx-font-size: 25px;
  -fx-text-fill: blue;
}

.little-btn:hover ImageView {
  -fx-opacity: 60%;
}